/* @mixin media-xsm {
    @media screen and (min-width: 0px) {
      @content;
    }
  }
  
  @mixin media-sm {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
  
  @mixin media-md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin media-lg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin media-xl {
    @media screen and (min-width: 1600px) {
      @content;
    }
  } */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link-style a, footer.horizontal a {
  padding: 0.4rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.link-style a:hover, footer.horizontal a:hover {
  color: #ff652f;
}

footer.horizontal {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.nav {
  height: 10vh;
  padding: 1rem;
}

.nav__list {
  text-align: right;
}

.nav__item {
  display: inline;
  padding: 1rem;
}

.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav__link:hover {
  color: blue;
}

.nav__link--active {
  color: #ff652f;
}

.top {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.8)), to(rgba(39, 39, 39, 0.3))), url("../img/my_profile1.jpg.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/my_profile1.jpg");
  background-position: center center;
  
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__home {
  text-align: center;
}

.top__home h1 {
  color: #ff652f;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.top__home p {
  font-family: "Segoe UI", "Nunito", Tahoma, Genava, Verdana, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

.bottom__field {
  background-color: #414141;
  margin-top: 10px;
  padding: 10px;
  width: 70vw;
  border-bottom: 5px solid #ff652f;
}

.bottom h2, .bottom h3, .bottom h6 {
  padding: 5px;
}

.link-style a, footer.horizontal a {
  padding: 0.4rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.link-style a:hover, footer.horizontal a:hover {
  color: #ff652f;
}

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
}

.vertical .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  position: fixed;
  bottom: 1rem;
}

.vertical .social-icons a {
  padding: 0.4rem 0;
}

.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.home__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__contact .home__contact-div {
  font-size: 20px;
  margin: 2rem;
}

.home__contact .home__contact-div p {
  color: #ff652f;
}

.contact-header {
  margin-bottom: 2rem;
}

#contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-footer .copy {
  margin-top: 1rem;
}

#contact-footer a {
  margin: 7px;
}

.home-bgImg-container {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.8)), to(rgba(39, 39, 39, 0.3))), url("../img/my_profile.jpg.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/my_profile.jpg");
  background-position: center center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #eee;
}

.home__name--last {
  color: red;
  font-weight: 700;
}

#head-projects {
  color:#ff652f;
}

.bottom-Projects {
  width: 70%;
  height: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 2rem auto;
  gap: 10px;
}

.bottom-Projects .projects {
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #ff652f;
  position: relative;
  opacity: 0.6;
  color: #ff652f;
}

.bottom-Projects .projects:hover {
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 1s;
}
.bottom-Projects .project1 {
  background-image: url(../img/project-1.jpg);
}

.bottom-Projects .project2 {
  background-image: url(../img/project-2.jpg);
}

.bottom-Projects .project3 {
  background-image: url(../img/project-3.jpg);
}

.bottom-Projects .project4 {
  background-image: url(../img/project-4.jpg);
}

.bottom-Projects .project5 {
  background-image: url(../img/project-5.jpg);
}

.bottom-Projects .project6 {
  background-image: url(../img/project-6.jpg);
}

@media screen and (max-width: 700px) {
  .bottom-Projects {
    width: 60%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
/*    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    margin: 2rem auto;
    gap: 10px;*/
  }
}

body {
  color: #eee;
  background-color: #272727;
  height: 100vh;
  font-family: "Segoe UI", "Nunito", Tahoma, Genava, Verdana, sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #eee;
}

h1, h2, h3 {
  font-weight: 400;
}
#intro {
  font-size: 17px;
  font-style:unset;
  font-style: italic;
  color:#ff652f;
}
h4 {
  margin-bottom: 5px;
}
.bio_exp {
  display: flex;
}
/*# sourceMappingURL=main.css.map */

.prj_name {
  margin-left: 6px;
  margin-top: 8px;
}